<h2>New product</h2>

<%= render "form_new_product.html", changeset: @changeset, colors: @colors, sizes: @sizes,
                        action: product_path(@conn, :create) %>

<%= link "Back", to: product_path(@conn, :index) %>
